<div class="col-md-9">
  <div class="list-group">
    <h1>Leaderboard</h1>
    <div class="list-group-item" *ngFor="let member of members; let i = index;">
      <div class="row">
        <div class="col-md-1 col-sm-1 col-xs-1"><h3><strong>#{{ i + 1 }}</strong></h3></div>
        <div class="col-md-1 col-sm-1 hidden-xs" style="padding:0">
          <img class="img-circle" src="{{ member.avatarURL }}" onError="this.src='http://i.imgur.com/hVp1fc0.png'" style="width:100%">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-5">
          <h3>
            <span [ngStyle]="{color: member.displayHexColor}">{{ member.name }}</span>
            <small>#{{ member.discriminator }}</small>
          </h3>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
          <h5 class="text-center">
            {{ member.levelInfo.experience }} / {{ member.levelInfo.experienceNext }}
            <strong>XP</strong>
            [{{ member.levelInfo.totalExperience }} total]
          </h5>
          <div class="progress progress-striped">
            <div class="progress-bar progress-bar-info" [ngStyle]="{width: member.levelInfo.experience / member.levelInfo.experienceNext * 100 + '%'}"></div>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <h3>Level {{ member.levelInfo.level }}</h3>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
</div>